.projects {
  background-image: url(../../../src/assets/blob_dark.svg);
  background-repeat: stretch;
  background-size: cover;
  background-color: rgb(0, 0, 0);
  min-height: 90vh;
  width: 100%;
  /* display: flex; */
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1vw;
  padding: 1.5vw;
  border-radius: 3%;
}
.project-card {
  display: block;
  padding: 1vw;
  background-color: rgb(92, 92, 92);
  margin: 1vw;
  border-radius: 5%;
  width: 44vw;
  min-height: 65vw;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.project-card:hover {
  transform: scale(1.03, 1.03);
}

.project-card .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-card img {
  width: auto;
  height: 33vw;
  border-radius: 3%;
  margin: 0.2vw;
  transform: scale(1, 1);
  transition: transform 0.3s ease;
}

.project-card img:hover {
  transform: scale(1.2, 1.2);
}

.card-bottom {
  font-size: 2vw;
  margin-top: 2vw;
}

.project-title {
  margin: 1vw;
}

.project-description {
  margin: 1vw;
}

.project-links {
  display: grid;
  align-items: center;
  margin: 0.5vw;
}

.project-links a {
  display: grid;
  margin: 0.3vw;
}
.project-links button {
  font-weight: 500;
  font-size: 2.5vw;
  /* margin-top: 0.1vw; */
  /* margin: 0.5vw; */
  padding: 2%;
  /* border-radius: 1%; */
  background-color: #bb004b;

  transform: scale(1, 1);
  transition: transform 0.3s ease;
}
.project-links button:hover {
  font-weight: 600;
  /* font-size: 1.4vw; */
  background-color: #a80043;
  transform: scale(1.05, 1.05);
}

.marquee {
  margin-top: 1vw;
  position: relative;
  height: 34vw;
  width: 40vw;
  overflow-x: hidden;
  border-radius: 5%;
}

.track {
  display: flex;
  flex-direction: row;
  position: absolute;
  /* white-space: nowrap; */
  will-change: transform;
  animation: marquee 9s linear infinite;
  width: 130%;
}

.no-track {
  display: flex;
  flex-direction: row;
  position: absolute;
  /* white-space: nowrap; */
  will-change: transform;
  /* animation: marquee 9s linear infinite; */
  width: 130%;
}
.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
