.projects {
  background-image: url(../../../src/assets/blob_dark.svg);
  background-repeat: stretch; 
  background-size: cover;
  background-color: rgb(0, 0, 0);
  min-height: 90vh;
  width: 100%;
}

.projects#dark {
  background-color: rgb(70, 94, 22);
}
