.skills {
  background-image: url(../../../src/assets/circle-scatter-haikei.svg);
  background-size: cover;
  background-color: rgb(0, 0, 0);
  min-height: 110vh;
  width: 100%;
  overflow: hidden;
}
.title .chakra-code {
  display: inline;
  font-size: 5vh !important;
  margin: 5% !important;
}

.skills .img {
  display: inline;
  height: 35% !important;
  width: 35% !important;
  min-height: 60px !important;
  min-width: 60px !important;
  margin: 1vw;
  padding: 1%;
  border-radius: 5%;
  transition: background 0.2s ease;
}

.skills p{
  padding-left: 2vw;
  padding-right: 2vw;
}

.skills h1{
  padding-left: 2vw;
  padding-right: 2vw;
}

.skills .img:hover {
  background-color: rgb(227, 185, 255);
  opacity: 0.9;
  border-radius: 5%;
}

.skills #dark {
  /* background-color: rgb(70, 12, 82); */
}

.skills h1 {
  font-size: 5vw;
}

.skills p {
  font-size: 3vw;
}

.skills .grid {
  margin-top: 10vw;
}
