.navbar {
  overflow: auto;
  height: 60px;
  background-color: darkslategray;
  background-image: linear-gradient(
    to right,
    var(--chakra-colors-cyan-800),
    var(--chakra-colors-pink-800)
  );
  font-weight: 400;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center !important;
  z-index: 1;
  /* text-align: center; */
}

.navbar a {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  height: 100%;
  width: 100%;
}

.navbar .logo {
  position: absolute;
  left: 1vw;
  color: rgb(255, 255, 255);
  text-align: center !important;
  align-items: center;
  height: 100%;
  padding: 11px;
}
.navbar .logo:hover {
  background-color: rgb(6, 82, 65);
}

.navbar a:hover {
  background-color: rgb(73, 6, 82);
}

.navbar .chakra-code {
  font-size: 25px !important;
}

.navbar .logo {
  margin-left: 2%;
}

.navbar .buttons {
  display: flex;
  flex-grow: inherit;
  position: absolute;
  right: 1vw;
  align-items: center;
  height: 100%;
}

.icon {
  margin-right: 2.5vw;
  margin-left: 2.5vw;
  font-size: 30px;
}

@media screen and (max-width: 500px) {
  .navbar .buttons {
    display: none;
  }
}
