.navbar {
  /* overflow: hidden; */
  height: 60px;
  background-color: rgb(9, 13, 77);
  background-image: linear-gradient(
    to right,
    rgb(3, 63, 68),
    rgb(156, 8, 104)
  );
  font-weight: 400;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center !important;
  z-index: 1;
  /* text-align: center; */
}

.navbar a {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  height: 100%;
  width: 100%;
  transition: background 0.3s ease;
}

.navbar .logo {
  position: absolute;
  left: 1vw;
  color: rgb(255, 255, 255);
  text-align: center !important;
  align-items: center;
  height: 100%;
  margin-left: 1vw;
  margin-right: 1vw;
  transition: background 0.3s ease;
}
.navbar .logo:hover {
  background-color: rgb(6, 82, 65);
}

.navbar a:hover {
  background-color: rgb(73, 6, 82);
}

.navbar .chakra-code {
  font-size: 25px !important;
  margin: 0px !important;
  /* padding: 15px; */
  position: relative;
        top: 50%;
        transform: translateY(-50%);

}

.navbar .buttons {
  display: flex;
  flex-grow: inherit;
  position: absolute;
  right: 1vw;
  align-items: center;
  height: 100%;
}

.navbar .github {
  display: none;
}

.icon {
  margin-right: 2.5vw;
  margin-left: 2.5vw;
  font-size: 30px;
}

@media screen and (max-width: 500px) {
  .navbar .buttons {
    /* display: none; */
  }
  /* .navbar .github {
    display: flex;
    flex-grow: inherit;
    position: absolute;
    right: 1vw;
    align-items: center;
    height: 100%;
  } */
}
