.intro {
  background-image: url(../../../src/assets/blob0.svg);
  background-size: cover;
  background-color: rgb(0, 0, 0);
  min-height: 90vh;
  width: 100%;
  padding: 1vw;
}
.title .chakra-code {
  font-size: 5vh !important;
  margin: 1%;
}

.intro .img {
  display: inline-block;
  width: 20vw;
  margin: 2vw;
  padding: 2vw;
  min-width: 160px;
}

.profile {
  /* display: inline-block; */

  width: 15vw;
  height: 15vw;
  margin: 2vw;
  /* padding: 2vw; */
  min-width: 160px;
  min-height: 160px;
  border-radius: 50%;
  background: url('../../assets/profile.png') no-repeat;
  background-size: contain;
}

.profile:hover {
  background: url('../../assets/profile2.png') no-repeat;
  background-size: contain;
}

h1.title {
  font-size: 3vw !important;
  margin-left: 2vw;
  margin-right: 1vw;
  text-align: left;
}

h1.body {
  font-size: 2.5vw !important;
  margin-left: 2vw;
  margin-right: 1vw;
  text-align: left;
}

.buttons {
  text-align: center;
}
.intro .buttons a {
  border-radius: 4%;
}

.intro .buttons .icon {
  font-size: 10vw;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  min-width: 40px;
}

.intro .buttons a:hover {
  background-color: rgb(6, 82, 65);
}

.intro #dark {
  /* background-color: rgb(70, 12, 82); */
}
