.App {
  background-image: url(../src/assets/waves.svg);
  background-size: contain;
  width: 100%;
  color: rgb(243, 243, 243);
}

.App .chakra-code {
  border-radius: var(--chakra-radii-sm) !important;
  background: none;
  backface-visibility: 0.1;
  color: var(--chakra-colors-white-800) !important;
}
