.navbar {
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  height: 60px;
  background-color: darkslategray;
  background-image: linear-gradient(
    to right,
    var(--chakra-colors-cyan-700),
    var(--chakra-colors-teal-500)
  );
  font-weight: 400;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center !important;
  /* text-align: center; */
}

.navbar a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 23px;
  border-radius: 4px;
}

.navbar .logo {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 11px;
  text-decoration: none;

  /* line-height: 25px; */
}
.navbar .logo:hover {
  background-color: rgb(6, 82, 65);
}

.navbar a:hover {
  background-color: rgb(6, 82, 65);
}

.navbar .chakra-code {
  font-size: 25px !important;
}

.navbar .logo {
  margin-left: 2%;
}

.navbar .buttons {
  position: absolute;
  right: 1vw;
  top: 4px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.icon {
  display: flexbox;
  margin-right: 1vw;
  font-size: 30px;
}
